[run]
source = redengine
branch = False
omit = 
    redengine/test/*
    redengine/_version.py

data_file = cov_data/.coverage

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    pragma: no cover

    # Don't complain about abstract methods, they aren't run:
    @(abc\.)?abstractmethod

    # Ignore type checking imports
    if TYPE_CHECKING

ignore_errors = True

[html]
directory = htmlcov