include redengine/test/test_files/*.ipynb
include redengine/test/test_files/*.py
include redengine/config/defaults/*.yaml
include versioneer.py
include redengine/_version.py
recursive-include redengine/templates *