[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = ">=1.0.0"
pytest = ">=5.0.1"
psutil = ">=5.7.0"
pyyaml = "*"
pybox = {ref = "master", git = "https://github.com/Miksus/pybox.git"}
powerbase = {ref = "master", git = "https://github.com/Miksus/powerbase.git"}

[dev-packages]

[requires]
python_version = "3.9"
