# This is a basic workflow to help you get started with Actions

name: coverage

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: master
  pull_request:
    branches: master

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:

  run-codecov:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    
    steps:
    - name: Checkout master
      uses: actions/checkout@v2
      
    - name: Setup Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8.x
      
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install -r requirements.txt
        python -m pip install -r requirements/ci.txt
        python -m pip install -e .
        
    - name: Run test suite
      run: |
        python -m pytest --cov=redengine --cov-report=xml redengine/test
        
    - name: Upload test coverage
      uses: codecov/codecov-action@v2
